// Форма
.form {
  display       : flex;
  flex-direction: column;

  &-label {
    display       : flex;
    flex-direction: column;
  }

  &-wrapper {
    display : block;
    position: relative;
    width   : 100%;
  }

  &-error {
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-align      : center;
    position        : absolute;
    left            : 5px;
    right           : 5px;
    bottom          : -14px;
    height          : 14px;
    font-size       : var(--text-12);
    color           : var(--color-white);
    background-color: var(--color-red);
    border-radius   : 5px;
  }
}