// Поле
.input {
  flex-grow       : 1;
  width           : 100%;
  height          : var(--size-lg);
  background-color: var(--color-grey-light);
  font-size       : var(--text-20);
  font-weight     : 400;
  padding         : 30px 50px;
  border          : 1px solid var(--color-grey-light);
  transition      : 0.2s ease;
  letter-spacing  : 0.05em;
  user-select     : none;

  &-cover {
    display: flex;
    width  : 100%;
  }

  &--textarea {
    height: auto;
  }

  &--error {
    border-color: var(--color-red);
  }

  &:first-of-type {
    border: {
      top-left-radius   : 8px;
      bottom-left-radius: 8px;
    }
  }

  &:last-of-type {
    border: {
      top-right-radius   : 8px;
      bottom-right-radius: 8px;
    }
  }

  &:not(&--error):focus {
    border-color: var(--color-black-30);
  }

  &::placeholder {
    color: var(--color-black-30);
  }

  &:disabled {
    pointer-events: none;
    opacity       : 0.5;
  }

  @media(max-width: $xl) {
    & {
      font-size: var(--text-18);
      height   : 80px;
      padding  : 15px 20px;
    }
  }

  @media(max-width: $md) {
    & {
      font-size: var(--text-16);
      height   : 60px;
    }
  }
}