// Полоса прокрутки
* {
  scrollbar: {
    width: thin;
    color: var(--color-primary) var(--color-primary);
  }

  &::-webkit-scrollbar {
    @media(pointer: fine) {
      width: 12px;

      &-track {
        background-color: var(--color-grey);
      }

      &-thumb {
        background-color: var(--color-primary);
      }

      &-corner {
        background-color: var(--color-primary);
      }
    }
  }
}