<% var data = {

  title: 'ОБК',
  status: 'index'

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container relative">
  <div class="bg-block overflow-visible">
    <picture>
      <source srcset="img/pictures/bg-1.webp" type="image/webp">
      <img class="main__bg main__bg--1 absolute w-100 ease duration-7 anim anim--down" data-anim="hidden" src="img/pictures/bg-1.png" alt="">
    </picture>
    <picture>
      <source srcset="img/pictures/bg-2.webp" type="image/webp">
      <img class="main__bg main__bg--2 absolute w-100 ease duration-7 anim anim--up" data-anim="hidden" src="img/pictures/bg-2.png" alt="">
    </picture>
  </div>
  <div class="relative">
    <h3 class="main__subtitle text text--center text-14 text-md-16 text-lg-20 bold-4 lh-5 fade-20 ease-in-out duration-5 anim anim--up" data-anim="hidden">производим все виды оконного бруса</h3>
    <h1 class="flex flex-column text-18 text-md-26 text-lg-46">
      <div class="main__title text text--center text--uppercase bold-4 lh-2 zoom-4 ease-in-out duration-5 delay-2 anim anim--up" data-anim="hidden">ОКОННЫЙ <span class="color-primary">БРУС</span></div>
      <div class="flex flex-wrap align-center justify-center gap-10">
        <span class="main__text d-none d-lg-block text-24 bold-4 lh-5 fade-10 ease-in-out duration-5 delay-6 anim anim--down" data-anim="hidden">
          Тут нужен какой-то <br>
          текст для того, чтобы <br>
          закрыть левую точку
        </span>
        <span class="main__title text text--center text--uppercase bold-4 lh-2 zoom-4 ease-in-out duration-5 delay-4 anim anim--up" data-anim="hidden">КАРЕЛИИ</span>
        <div class="main__text d-none d-lg-block text-30 bold-4 lh-5 ease-in-out duration-5 delay-6 anim anim--down" data-anim="hidden">
          <span class="fade-20">напрямую</span><br>
          <span class="fade-20">от производителя</span><br>
          <span>от 58 000 руб/м3</span>
        </div>
      </div>
    </h1>
    <div class="w-100 ease-in-out duration-5 delay-6 anim anim--up" data-anim="hidden">
      <button class="main__btn btn btn--primary btn--lg btn--fill text-md-18 text-lg-22 w-100" data-waved>Перейти в каталог</button>
    </div>
  </div>
</main>

<!-- Выгода -->

<% var about = [
  {
    item: '',
    data: '',
    img: '1'
  },
  {
    item: 'd-none d-md-block mt-8 mt-lg-0 delay-lg-2',
    data: 'data-listing-item',
    img: '2'
  },
  {
    item: 'd-none d-md-block mt-8 mt-lg-0 delay-lg-4',
    data: 'data-listing-item',
    img: '3'
  },
] %>

<section class="benefit container container--sm relative" data-listing>
  <div class="benefit__content mb-5 mb-md-10">
    <h3 class="benefit__subtitle text text--center text-14 text-md-16 bold-5 lh-5 fade-10 mb-2 ease-in-out duration-5 anim anim--up" data-anim="hidden">какой-то подзаголовок сделать ещё</span>
    <h2 class="benefit__title flex flex-column text text--center text--uppercase text-14 text-md-26 bold-4 lh-2 mb-5 ease-in-out duration-5 anim anim--up" data-anim="hidden">
      <span class="zoom-2">
        ВЫГОДНЫЕ <br class="d-none d-md-block">
        <span class="color-primary">ПРЕДЛОЖЕНИЯ</span><br class="d-none d-md-block">
        <span class="pl-lg-10 ml-lg-5">ДЕКАБРЯ</span>
      </span>
    </h2>
    <p class="benefit__text text text--center text-16 text-md-20 text-lg-26 bold-3 lh-4 pl-lg-10 ml-lg-5 ease-in-out duration-5 anim anim--up" data-anim="hidden">
      <span class="bold-5">Зарабатывайте больше</span> <br>
      за счет снижения закупочных цен
    </p>
  </div>
  <div class="grid gap-lg-9 pt-lg-5">
    <% for (var i = 0; i < about.length; i++) { %>
      <div class="col-12 col-lg-4 <%= about[i].item %> ease-in-out duration-5 anim anim--up" data-anim="hidden" <%= about[i].data %>>
        <a class="benefit__card card link-wrapper border h-100" data-waved href="catalog.html#category-1">
          <div class="benefit__pack pack pack--rect bg-grey w-100">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/benefit-<%= about[i].img %>.webp" type="image/webp">
              <img class="image image--rise" loading="lazy" src="img/pictures/benefit-<%= about[i].img %>.jpg" alt="">
            </picture>
          </div>
          <div class="card-content py-5 px-4 px-lg-0 py-md-10">
            <div class="flex align-center justify-between mb-3 mb-md-5">
              <span class="benefit__name link text text--uppercase text-14 text-md-22 text-lg-30 bold-4 lh-5">
                Брус клееный <br>(сосна), 1 кат (АЕ)
              </span>
              <button class="benefit__btn btn btn--contur text-18 radius-max fade-20 mr-10">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#arrow-right">
                </svg>
              </button>
            </div>
            <h4 class="benefit__price text-10 text-md-16 text-lg-20">
              <span class="text text--uppercase bold-4 lh-1 zoom-2">10 000 рублей</span>
            </h4>
          </div>
        </a>
      </div>
    <% } %>
  </div>
  <div class="ease-in-out duration-5 anim anim--up" data-anim="hidden">
    <button class="btn btn--primary btn--lg btn--fill d-md-none mx-auto mt-10" data-waved data-listing-show>Показать ёще</button>
  </div>
</section>

<!-- Наличие -->

<% var availability = [
  {
    item: '',
    data: '',
    img: '1',
    text: 'Брус клееный <br>(сосна)'
  },
  {
    item: 'd-none d-md-grid mt-5 mt-md-8 delay-1',
    data: 'data-listing-item',
    img: '2',
    text: 'Доска массив <br>(сосна)'
  },
  {
    item: 'd-none d-md-grid mt-5 mt-md-8 delay-2',
    data: 'data-listing-item',
    img: '3',
    text: 'Доска <br>сращенная'
  },
] %>

<section class="availability container">
  <h2 class="availability__title flex flex-column text text--center text--uppercase text-14 text-md-26 bold-4 lh-2 mb-5 mb-md-10 ease-in-out duration-5 anim anim--up" data-anim="hidden">
    <span class="zoom-2">
      <span class="color-primary">В ПОСТОЯННОМ <br class="d-none d-md-block">
      <span class="pl-lg-10 ml-lg-9">НАЛИЧИИ</span></span>
      БОЛЕЕ 80м<sup>3</sup>
    </span>
  </h2>
  <div class="flex flex-column" data-listing>
    <% for (var i = 0; i < availability.length; i++) { %>
      <div class="availability__card card grid <%= availability[i].item %> ease-in-out duration-5 anim anim--right" data-anim="hidden" <%= availability[i].data %> data-waved>
        <div class="col-6 flex align-center bg-primary">
          <div class="availability__pack pack pack--rect w-100">
            <picture>
              <source srcset="img/pictures/availability-<%= availability[i].img %>.webp" type="image/webp">
              <img class="image image--sd image--tl" src="img/pictures/availability-<%= availability[i].img %>.png" alt="">
            </picture>
          </div>
          <div class="flex flex-column py-3 px-3 py-md-10 px-md-5 px-lg-7">
            <h4 class="availability__text color-white text text--uppercase text-20 text-md-38 lh-4"><%= availability[i].text %></h4>
          </div>
        </div>
        <div class="col-6 availability__content card-content justify-center relative bg-grey overflow-hidden pt-5 pb-10 pt-md-10 px-5 px-lg-5">
          <p class="text-16 text-md-22 bold-3 lh-5">
            Идеален для производства окон <br class="d-none d-md-block">
            любого размера и конфигурации. <br class="d-none d-md-block">
            <span class="bold-5">Ваши рамы прослужат до 20 лет <br class="d-none d-md-block">
            без потери внешнего вида.</span>
          </p>
          <button class="availability__btn btn btn--primary btn--fill text-md-30 absolute">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </button>
        </div>
      </div>
    <% } %>
    <div class="ease-in-out duration-5 anim anim--up" data-anim="hidden">
      <button class="btn btn--primary btn--lg btn--fill d-md-none mx-auto mt-10" data-waved data-listing-show>Показать ёще</button>
    </div>
  </div>
</section>

<!-- Ассортимент -->

<% var assortment = [
  {
    item: '',
    text: 'Дверные коробки'
  },
  {
    item: 'delay-lg-2',
    text: 'Щиты'
  },
  {
    item: 'delay-lg-4',
    text: 'Наличники'
  },
  {
    item: '',
    text: 'Половой шпунт'
  },
  {
    item: 'delay-lg-2',
    text: 'Вагонка'
  },
  {
    item: 'delay-lg-4',
    text: 'Имитация бруса'
  }
] %>

<section class="assortment container relative">
  <div class="bg-block overflow-visible">
    <picture>
      <source srcset="img/pictures/bg-3.webp" type="image/webp">
      <img class="assortment__bg absolute w-100 ease-in-out duration-8 anim anim--up" data-anim="hidden" src="img/pictures/bg-3.png" alt="">
    </picture>
  </div>
  <div class="relative">
    <h2 class="assortment__title flex flex-column text text--center text--uppercase text-14 text-md-26 bold-4 lh-2 mb-5 mb-md-10 ease-in-out duration-5 anim anim--up" data-anim="hidden">
      <span class="zoom-2">
        УДОБНО, ПОТОМУ ЧТО <br>
        <span class="assortment__text color-primary">ВСЕ В ОДНОМ МЕСТЕ</span>
    </h2>
    <div class="grid gap-3 gap-md-5 gap-lg-10 pt-lg-5">
      <% for (var i = 0; i < assortment.length; i++) { %>
        <div class="col-6 col-lg-4 <%= assortment[i].item %> ease-in-out duration-5 anim anim--up" data-anim="hidden">
          <div class="card border h-100" data-waved>
            <div class="pack pack--rect bg-grey">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/assortment.webp" type="image/webp">
                <img class="image image--sd image--bl pt-lg-10 px-lg-10" loading="lazy" src="img/pictures/assortment.jpg" alt="">
              </picture>
            </div>
            <div class="card-content align-center justify-center py-5 py-md-8 px-2">
              <h4 class="text text--center text--uppercase text-16 text-md-26 text-lg-36 bold-5 mb-md-2"><%= assortment[i].text %></h4>
              <button class="assortment__btn btn btn--second text text--center text--underline text-12 text-md-16 text-lg-18 bold-5 radius-1 p-1 mt-auto">Узнать подробнее</button>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Отзывы -->

<section class="reviews container overflow-hidden">
  <div class="reviews-slider relative">
    <h2 class="reviews__title flex flex-column align-end text text--center text--uppercase text-14 text-md-26 bold-4 lh-2 w-lg-max mb-5 mb-md-10 mr-auto ease-in-out duration-5 anim anim--right" data-anim="hidden">
      <div class="flex align-end">
        <div class="reviews__number color-primary">
          <span class="zoom-5 bold-2">950</span>
        </div>
        <div class="zoom-2">
          <span class="color-primary">+</span> КЛИЕНТОВ
        </div>
      </div>
      <span class="zoom-2">ПОДТВЕРЖДАЮТ</span>
      <div class="reviews-slider__top flex align-center">
        <span class="zoom-2 mb-5 mb-md-0 mr-lg-10 pr-md-5">КАЧЕСТВО</span>
        <div class="flex align-center">
          <button class="reviews-slider__btn swiper-button-prev default btn btn--primary btn--fill radius-1 mt-0 mr-5 mr-md-10" data-waved>
            <svg class="icon text-md-20">
              <use xlink:href="img/icons.svg#arrow-left">
            </svg>
          </button>
          <div class="swiper-pagination color-primary"></div>
          <button class="reviews-slider__btn swiper-button-next default btn btn--primary btn--fill radius-1 mt-0 ml-5 ml-md-10" data-waved>
            <svg class="icon text-md-20">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </button>
        </div>
      </div>
    </h2>
    <div class="swiper swiper--overwrap overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 5; i++) { %>
          <div class="swiper-slide card border h-auto p-5 p-md-10" data-waved>
            <div class="reviews__head flex align-center mb-5 mb-md-10">
              <div class="reviews__pack pack pack--box radius-max mb-3 mb-md-0 mr-4 mr-md-8">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/user.webp" type="image/webp">
                  <img class="image" loading="lazy" src="img/pictures/user.png" alt="">
                </picture>
              </div>
              <div class="flex flex-column">
                <span class="text-18 text-md-24 text-lg-30 bold-5 lh-4 mb-1">Владимир <br class="d-none d-md-block"> Владимирович</span>
                <span class="text-14 text-lg-18 bold-3 fade-30">Владелец компании “Рога и Копыта”</span>
              </div>
            </div>
            <p class="text-14 text-md-16 text-lg-20 bold-3 lh-7">
              <span class="bold-5">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</span> Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое....
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Производство -->

<section class="production container relative overflow-hidden">
  <h2 class="production__title flex flex-column text text--center text--uppercase text-14 text-md-26 bold-4 lh-2 w-md-max ease-in-out duration-5 anim anim--right" data-anim="hidden">
    <div class="production__top flex align-end">
      <div class="flex align-end">
        <div class="production__number color-primary">
          <span class="zoom-5 bold-2">13</span>
        </div>
        <span class="zoom-2 color-primary">ЛЕТ</span>
      </div>
      <span class="production__subtitle text text--left text-12 text-md-14 text-lg-16 bold-5 lh-5 fade-10 mb-lg-3">какой-то подзаголовок сделать ещё</span>
    </div>
    <div class="zoom-2 mr-auto mr-md-0">НЕПРЕРЫВНОГО</div>
    <div class="zoom-2 mr-auto">СОВЕРШЕНСТВА</div>
  </h2>
  <div class="production__block flex align-end">
    <a class="production__pack production__pack--1 pack pack--half bg-grey w-100 ease-in-out duration-8 anim anim--increase" data-anim="hidden" data-fancybox href="img/pictures/production-1.jpg">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/production-1.webp" type="image/webp">
        <img class="image image--rise" src="img/pictures/production-1.jpg" alt="">
      </picture>
    </a>
    <div class="flex flex-column">
      <p class="text-16 text-md-20 text-lg-26 bold-3 lh-5 mb-5 mb-md-10 ease-in-out duration-5 anim anim--left" data-anim="hidden">
        На площади 5000 м2 в поселке <br>
        Волома <span class="bold-5">мы осуществляем полный <br>
        цикл производства оконного бруса:</span> <br>
        от лесопиления до логистики.
      </p>
      <div class="ease-in-out duration-5 anim anim--left" data-anim="hidden">
        <button class="btn btn--primary btn--lg btn--fill text-16 text-md-20 w-max" data-waved>Подробнее <span class="d-none d-md-inline">о производстве</span></button>
      </div>
    </div>
  </div>
  <a class="production__pack production__pack--2 pack pack--photo d-none d-lg-block absolute bg-grey w-100 ease-in-out duration-8 anim anim--increase" data-anim="hidden" data-fancybox href="img/pictures/production-2.jpg">
    <div class="loader">
      <span class="loader-progress">
        <svg class="loader-icon icon">
          <use xlink:href="img/icons.svg#loader">
        </svg>
      </span>
    </div>
    <picture>
      <source srcset="img/pictures/production-2.webp" type="image/webp">
      <img class="image image--rise" src="img/pictures/production-2.jpg" alt="">
    </picture>
  </a>
</section>

<!-- Города -->

<section class="cities container overflow-hidden">
  <h2 class="cities__title text text--center text--uppercase text-14 text-md-26 bold-4 lh-2 mb-2 mb-md-5 ease-in-out duration-5 anim anim--up" data-anim="hidden">
    <span class="zoom-2">
      МЫ <span class="color-primary">РЯДОМ</span>
    </span>
  </h2>
  <h3 class="text text--center text-14 text-md-18 text-lg-24 bold-3 lh-5 mb-5 mb-md-10 ease-in-out duration-5 anim anim--up" data-anim="hidden">
    Выберите ближайший к вам склад <br class="d-block d-md-none"> в Санкт-Петербурге <br class="d-none d-md-block"> или п. Волома.
    <br class="d-block d-md-none"><span class="bold-5">Отгружаем в день заказа!</span>
  </h3>
  <%= require('./includes/map.html').default %>
  <div class="ease-in-out duration-5 anim anim--up" data-anim="hidden">
    <button class="cities__btn btn btn--primary btn--lg btn--fill text-md-18 text-lg-20 w-lg-100 mx-auto mt-10" data-waved>Подробнее <span class="d-none d-md-inline">о доставке</span></button>
  </div>
</section>

<%= require('./includes/footer.html').default %>