// Главный блок
.main {
  &__bg {
    &--1 {
      max-width: 315px;
      left     : 0;
      top      : 100px;
    }

    &--2 {
      max-width: 633px;
      right    : 0;
      bottom   : -450px;
    }
  }

  &__subtitle {
    letter-spacing: 0.47em;
    margin-bottom : -20px;
    padding-left  : 160px;
  }

  &__btn {
    max-width  : 415px;
    margin-left: 325px;
    margin-top : 70px;
  }

  @media(min-width: $lg) {
    &__subtitle {
      text-align: left;
    }
  }

  @media(max-width: $xxl) {
    &__bg {
      &--1 {
        max-width: 200px;
        top      : 150px;
      }

      &--2 {
        max-width: 400px;
        bottom   : -220px;
      }
    }

    &__title {
      font-size: 2.3em;
    }

    &__subtitle {
      margin-bottom: 20px;
      padding-left : 0;
    }

    &__text {
      font-size: 20px;
    }
  }

  @media(max-width: $xl) {
    &__bg {
      &--1 {
        max-width: 100px;
        top      : -150px;
      }

      &--2 {
        max-width: 250px;
        bottom   : -150px;
      }
    }

    &__title {
      font-size: 2em;
    }

    &__btn {
      margin    : 0 auto;
      margin-top: 40px;
    }

    &__btn {
      max-width: max-content;
    }
  }

  @media(max-width: $md) {
    & {
      padding-block: 70px;
    }

    &__bg {
      &--1 {
        max-width: 60px;
        top      : -110px;
      }

      &--2 {
        max-width: 130px;
        bottom   : -65px;
      }
    }
  }
}

// Выгода
.benefit {
  &__content {
    padding-left: 325px;
  }

  &__btn {
    min-width: 68px;
    width    : 68px;
    height   : 68px;

    & .icon {
      transform: rotate(45deg);
    }
  }

  @media(hover) {
    &__card:hover &__btn {
      --btn-color     : var(--color-primary);
      background-color: var(--color-primary);
      color           : var(--color-white);
      opacity         : 1;
    }
  }

  @media(min-width: $md) {

    &__title,
    &__subtitle,
    &__text {
      text-align: left;
    }
  }

  @media(min-width: $lg) {
    &__card {
      border: none;
    }
  }

  @media(min-width: $xl) {
    &__name {
      font-size: var(--text-24);
    }

    &__price {
      font-size: var(--text-22);
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__name {
      font-size: var(--text-30);
    }

    &__price {
      font-size: var(--text-30);
    }
  }

  @media(max-width: $xxl) {
    &__content {
      padding-left: 100px;
    }

    &__btn {
      margin-right: 10px;
      min-width   : 40px;
      width       : 40px;
      height      : 40px;
    }
  }

  @media(max-width: $xl) {
    &__content {
      padding-left: 0;
    }
  }

  @media(max-width: $lg) {
    &__card {
      flex-direction: row;
    }

    &__pack {
      max-width: 300px;
    }
  }

  @media(max-width: $md) {
    &__card {
      flex-direction: column;
    }

    &__pack {
      max-width: 100%;
      height   : 200px;
    }
  }
}

// Наличие
.availability {

  &__pack {
    width: 320px;
  }

  &__btn {
    bottom       : 0;
    right        : 0;
    min-width    : 72px;
    width        : 72px;
    height       : 72px;
    border-radius: 10px 0 0 0;

    & .icon {
      transform: rotate(45deg);
    }
  }

  @media(min-width: $md) {
    &__title {
      text-align: left;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__content {
      padding: 50px 100px;
    }

    &__text {
      font-size: var(--text-46);
    }
  }

  @media(max-width: $xxl) {
    &__card {
      grid-template-columns: repeat(6, 1fr);
    }

    &__pack {
      width: 200px;
    }

    &__text br {
      display: none;
    }
  }

  @media(max-width: $md) {
    & {
      padding-top: 20px;
    }

    &__pack {
      width: 180px;
    }

    &__btn {
      min-width    : 36px;
      width        : 36px;
      height       : 36px;
      border-radius: 5px 0 0 0;
    }
  }
}

// Ассортимент
.assortment {
  &__bg {
    max-width: 590px;
    right    : 0;
    bottom   : -500px;
  }

  &__btn {
    letter-spacing: 0.05em;
  }

  @media(min-width: $md) {
    &__title {
      text-align: left;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__text {
      padding-left: 180px;
    }
  }

  @media(max-width: $xxl) {
    &__bg {
      max-width: 390px;
      bottom   : -350px;
    }
  }

  @media(max-width: $lg) {
    &__bg {
      max-width: 250px;
      bottom   : -150px;
    }
  }

  @media(max-width: $md) {
    & {
      padding-top: 20px;
    }

    &__bg {
      max-width: 170px;
      bottom   : -80px;
    }
  }
}

// Отзывы
.reviews {
  &-slider {
    &__btn {
      min-width: 60px;
      width    : 60px;
      height   : 60px;
    }
  }

  &__pack {
    min-width: 130px;
    width    : 130px;
    height   : 130px;
  }

  @media(min-width: $md) {
    &__title {
      text-align: left;
    }

    &__number {
      margin-bottom: -15px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__number {
      font-size    : var(--text-50);
      margin-bottom: -30px;
    }
  }

  @media(max-width: $md) {
    &-slider {
      &__top {
        flex-direction: column;
      }

      &__btn {
        min-width: 40px;
        width    : 40px;
        height   : 40px;
      }
    }

    &__title {
      align-items: center;
    }

    &__number {
      font-size: var(--text-10);
    }

    &__head {
      flex-direction: column;
      align-items   : flex-start;
    }

    &__pack {
      min-width: 90px;
      width    : 90px;
      height   : 90px;
    }
  }
}

// Производство
.production {
  &__subtitle {
    letter-spacing: 0.35em;
  }

  &__block {
    margin-top : 100px;
    margin-left: -210px;
  }

  &__pack {
    border: 10px solid var(--color-grey-50);

    &--1 {
      max-width    : 1140px;
      margin-bottom: 100px;
      margin-right : 110px;

      &::before {
        padding-top: 60%;
      }
    }

    &--2 {
      top      : 100px;
      right    : -30px;
      max-width: 600px;

      &::before {
        padding-top: 150%;
      }
    }
  }

  @media(min-width: $md) {
    &__title {
      text-align : left;
      align-items: flex-end;
    }

    &__number {
      margin-bottom: -15px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__number {
      font-size    : var(--text-50);
      margin-bottom: -30px;
    }
  }

  @media(max-width: $xxl) {
    &__top {
      flex-direction: column;
      align-items   : flex-start;
    }

    &__pack {
      &--1 {
        max-width    : 800px;
        margin-bottom: 0;
        margin-right : 50px;
      }

      &--2 {
        top      : -100px;
        max-width: 450px;
      }
    }
  }

  @media(max-width: $xl) {
    &__block {
      margin-top: 50px;
    }

    &__pack {
      &--1 {
        max-width   : 600px;
        margin-right: 30px;
      }

      &--2 {
        top      : -100px;
        max-width: 400px;
      }
    }
  }

  @media(max-width: $lg) {
    &__block {
      flex-direction: column;
      align-items   : flex-start;
      margin-left   : 0;
    }

    &__pack {
      border: none;

      &--1 {
        max-width    : 100%;
        margin-right : 0;
        margin-bottom: 30px;
      }
    }
  }

  @media(max-width: $md) {
    & {
      padding-top: 20px;
    }

    &__block {
      margin-top: 20px;
    }

    &__number {
      font-size: var(--text-10);
    }
  }
}

// Города
.cities {
  &__btn {
    max-width: 415px;
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }
  }

  @media(max-width: $md) {
    & {
      padding-top: 20px;
    }
  }
}

// Карта
.map {
  min-width: 1524px;

  &__geo {
    top : 480px;
    left: 115px;
  }

  &__line {
    border-top: 12px solid var(--color-white);

    &--1 {
      top         : -17px;
      left        : 23px;
      border-right: 390px solid var(--color-none);
      width       : 390px;
      transform   : rotate(-7deg);
    }

    &--2 {
      top         : 27px;
      left        : 21px;
      border-right: 100px solid var(--color-none);
      width       : 100px;
      transform   : rotate(15deg);
    }

    &--3 {
      top         : 53px;
      left        : -2px;
      border-right: 80px solid var(--color-none);
      width       : 80px;
      transform   : rotate(60deg);
    }
  }

  &__item {
    height   : 52px;
    animation: map-item 2s linear infinite;

    &--1 {
      top : 425px;
      left: -18px;
    }

    &--2 {
      top            : 425px;
      left           : 510px;
      animation-delay: 0.6s;
    }

    &--3 {
      top            : 502px;
      left           : 236px;
      animation-delay: 0.4s;
    }

    &--4 {
      top            : 570px;
      left           : 80px;
      animation-delay: 0.2s;
    }
  }

  &__text {
    left  : 0;
    right : 0;
    top   : 100%;
    height: 32px;

    border-top: {
      right-radius: 0;
      left-radius : 0;
    }
  }

  @media(max-width: $xxl) {
    & {
      transform   : scale(0.8);
      margin-left : -150px;
      margin-block: -50px;
    }
  }

  @media(max-width: $xl) {
    & {
      margin-left : -180px;
      margin-block: -80px;
    }
  }

  @media(max-width: $lg) {
    & {
      transform   : scale(0.6);
      margin-block: -150px;
      margin-left : -320px;
    }
  }

  @media(max-width: $md) {
    & {
      transform   : scale(0.5);
      margin-block: -180px;
      margin-left : -390px;
    }
  }
}

@keyframes map-item {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

// Лес
.forest {
  min-height: 1300px;

  &__bg {
    padding-top: 200px;

    &::after {
      content   : "";
      position  : absolute;
      top       : 200px;
      left      : 0;
      right     : 0;
      width     : 100%;
      height    : 400px;
      background: linear-gradient(180deg, var(--color-white) 20%, var(--color-none) 100%);
      z-index   : 1;
    }
  }

  @media(min-width: $xl) {
    &__title {
      font-size: calc(var(--text-46));
    }

    &__text {
      padding-left: 100px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: calc(2 * var(--text-32));
    }
  }

  @media(max-width: $xxl) {
    & {
      min-height: 1000px;
    }
  }

  @media(max-width: $xl) {
    & {
      min-height: 800px;
    }

    &__bg {
      padding-top: 100px;

      &::after {
        top    : 100px;
        height : 200px;
        z-index: 1;
      }
    }
  }

  @media(max-width: $lg) {
    & {
      min-height: 650px;
    }
  }

  @media(max-width: $md) {
    & {
      min-height: 500px;
    }

    &__bg {
      padding-top: 200px;

      &::after {
        top   : 200px;
        height: 100px;
      }
    }
  }
}

// Склады
.warehouses {
  &__top {
    margin-bottom: 100px;
  }

  &__btn {
    max-width: 420px;
  }

  @media(min-width: $xl) {
    &__square {
      margin-bottom: 20px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__square {
      margin-bottom: 93px;
    }
  }

  @media(max-width: $xl) {
    &__top {
      flex-direction: column;
      margin-bottom : 50px;
    }

    &__content {
      align-items   : flex-start;
      flex-direction: row;
      margin-top    : 40px;
      padding-left  : 100px;
    }

    &__square {
      margin-right: 20px;
    }

    &__text {
      text-align: left;
    }
  }

  @media(max-width: $md) {
    &__top {
      margin-bottom: 0;
    }

    &__content {
      margin-top  : 20px;
      padding-left: 0;
    }
  }
}

// Отгрузка
.shipment {
  min-height: 1300px;

  &__bg {
    padding-top: 300px;
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }
  }

  @media(max-width: $xxl) {
    & {
      min-height: 1100px;
    }
  }

  @media(max-width: $xl) {
    & {
      min-height: 950px;
    }
  }

  @media(max-width: $lg) {
    & {
      min-height: 800px;
    }
  }

  @media(max-width: $md) {
    & {
      min-height: 600px;
    }

    &__bg {
      padding-top: 250px;
    }

    &__content {
      text-align: left;
    }

    &__subtitle {
      justify-content: flex-start;
    }
  }

  @media(max-width: $sm) {
    & {
      padding-top: 20px;
      min-height : 550px;
    }
  }
}

// Оплата
.payment {
  &__circle {
    width : 75px;
    height: 75px;
    top   : -38px;
    left  : 60px;
  }

  &__pack {
    &--1 {
      max-width: 600px;
      top      : 120px;
      right    : -80px;
    }

    &--2 {
      max-width: 900px;
      top      : -50px;
      right    : -250px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size    : var(--text-42);
      margin-bottom: 100px;
    }

    &__items {
      max-width: 1300px;
    }

    &__item {
      padding: 68px 60px;
    }

    &__subtitle {
      font-size: var(--text-46);
    }
  }

  @media(max-width: $xxl) {
    &__circle {
      left: 40px;
    }

    &__pack {
      &--1 {
        max-width: 500px;
        top      : 50px;
        right    : -100px;
      }

      &--2 {
        max-width: 700px;
      }
    }
  }

  @media(max-width: $xl) {
    &__pack {
      &--1 {
        max-width: 350px;
        right    : -70px;
      }

      &--2 {
        max-width: 500px;
        top      : 50px;
        right    : -130px;
      }
    }
  }


  @media(max-width: $lg) {
    &__circle {
      width : 40px;
      height: 40px;
      top   : -20px;
      left  : 20px;
    }

    &__pack {
      &--1 {
        top: 70px;
      }
    }
  }

  @media(hover) {
    &:hover &__pack--1 {
      opacity: 0;
    }

    &:hover &__pack--2 {
      opacity: 1;
    }
  }
}

// Совершенство
.perfection {
  &__bg {
    max-width: 500px;
    right    : 0;
    bottom   : -350px;
  }

  &__text {
    letter-spacing: 0.34em;
  }

  &__pack {
    max-width: 480px;
  }

  &__play {
    width : 105px;
    height: 105px;
  }

  @media(min-width: $xl) {

    &__title,
    &__subtitle {
      font-size: calc(var(--text-46));
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: calc(2 * var(--text-32));
    }

    &__subtitle {
      font-size: calc(2 * var(--text-30));
    }

    &__btn {
      margin-left: 100px;
    }
  }

  @media(max-width: $xxl) {
    &__pack {
      max-width: 300px;
    }

    &__bg {
      max-width: 400px;
      bottom   : -300px;
    }
  }

  @media(max-width: $lg) {
    &__bg {
      max-width: 300px;
      bottom   : -200px;
    }
  }

  @media(max-width: $md) {
    &__bg {
      max-width: 200px;
      bottom   : -80px;
    }

    &__title {
      flex-direction: column;
      align-items   : center;
    }

    &__content {
      flex-direction: column;
      align-items   : center;
    }

    &__pack {
      max-width: 450px;
    }
  }

  @media(max-width: $sm) {
    &__bg {
      max-width: 130px;
      bottom   : -40px;
    }
  }
}

// О нас
.about {
  @media(min-width: $xl) {
    &__text {
      padding-left: 150px;
    }

    &__text {
      margin-bottom: 60px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__text {
      padding-left: 380px;
    }

    &__number {
      font-size: calc(2 * var(--text-42));
    }
  }

  @media(max-width: $md) {
    & {
      padding-top: 20px;
    }
  }
}

// Необходимое
.necessary {
  &__bg {
    max-width: 475px;
    top      : -60px;
    left     : 0;
  }

  &__items:last-child {
    margin-bottom: 0;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__pack {
    border: 5px solid var(--color-grey-50);

    &--1 {
      max-width: 890px;
      left     : -200px;
      top      : 0;
    }

    &--2 {
      max-width: 480px;
      left     : 300px;
      top      : 445px;
    }

    &--3 {
      max-width: 890px;
      right    : -220px;
      top      : 0;
    }

    &--4 {
      max-width: 480px;
      right    : 280px;
      top      : 355px;
    }
  }

  &__btn {
    max-width: 420px;
  }

  @media(min-width: $lg) {
    &__btn {
      margin-top: 80px;
    }
  }

  @media(min-width: $xl) {
    &__items {
      margin-bottom: 150px;
    }

    &__item {
      margin-bottom: 100px;
    }

    &__btn {
      margin-top: 50px;
    }
  }

  @media(min-width: $xxl) {
    &__title {
      font-size    : var(--text-42);
      margin-bottom: 100px;
    }

    &__item {
      &--1 {
        padding-right: 200px;
        margin-top   : 60px;
      }

      &--3 {
        padding-left: 90px;
      }
    }
  }

  @media(max-width: $xxl) {
    &__pack {
      &--1 {
        max-width: 480px;
        left     : 0;
      }

      &--2 {
        left: -100px;
        top : 410px;
      }

      &--3 {
        max-width: 480px;
        right    : -50px;
        top      : -50px;
      }

      &--4 {
        right: 0;
      }
    }
  }

  @media(max-width: $xl) {
    &__bg {
      max-width: 275px;
      top      : 0;
    }

    &__items {
      align-items: flex-start;
    }

    &__item {

      &--2,
      &--4 {
        margin-left: auto;
      }
    }

    &__pack {
      max-width: 400px;

      &--1 {
        left : auto;
        right: -50px;
      }

      &--2 {
        left: -150px;
        top : 340px;
      }

      &--3 {
        right: -50px;
        top  : 0;
      }

      &--4 {
        left : 0;
        right: auto;
      }
    }
  }

  @media(max-width: $lg) {
    &__title {
      justify-content: flex-start;
    }

    &__item {

      &--2,
      &--4 {
        margin-left: 0;
      }
    }

    &__pack {
      position: relative;
      inset   : 0;
    }
  }

  @media(max-width: $md) {
    & {
      padding-top: 20px;
    }
  }
}

// Директор
.director {
  &__name {
    top : 150px;
    left: 0;
  }

  &__pack {
    max-width  : 700px;
    margin-left: 80px;
  }

  &__circle {
    min-width: 75px;
    width    : 75px;
    height   : 75px;
  }

  &__btn {
    max-width: 435px;
  }

  &__block {
    max-width: 580px;
  }

  &__pic {
    border: 5px solid var(--color-grey-50);

    &::before {
      padding-top: 60%;
    }
  }

  &__border {
    border    : 5px solid var(--color-grey);
    margin-top: -60px;
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-42);
    }

    &__top {
      padding-right: 200px;
    }
  }

  @media(max-width: $xxl) {
    &__name {
      background-color: var(--color-white);
      padding         : 12px;
      border-radius   : 8px;
      top             : 600px;
      left            : 0;
      z-index         : 1;

      & br {
        display: none;
      }
    }

    &__title {
      margin-right: 100px;
    }

    &__pack {
      max-width  : 700px;
      margin-left: -100px;
    }
  }

  @media(max-width: $xl) {
    &__title {
      margin-right: 0;
    }

    &__pack {
      margin-left: -150px;
    }
  }

  @media(max-width: $lg) {
    &__name {
      top : 500px;
      left: -30px;
    }

    &__pack {
      max-width  : 500px;
      margin-left: -200px;
    }
  }

  @media(max-width: $md) {
    &__content {
      align-items: flex-start;
    }

    &__border {
      margin-top: 20px;
      border    : none;
    }
  }
}

// Контакты
.contacts {
  &__file {
    max-width: 360px;
    height: 380px;
  }

  @media(min-width: $xxl) {
    &__title {
      font-size: var(--text-46);
    }

    &__link {
      font-size: var(--text-40);
    }
  }

  @media(max-width: $lg) {
    &__content {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
    }

    &__file {
      max-width: 100%;
      height: auto;
    }
  }
}